/*------ IDIOMAS E FOTO ------*/
.idiomas-e-foto{
    width: 1000px;
    height: 400px;
    margin: 122px auto 0;
}

.minha-foto{
    float: right;
    margin-right: 36px;
    border-radius: 50%;
    box-shadow: 0px 10px 15px 0px rgb(0, 0, 0, 0.25);
}

.idiomas{
    display: inline-block;
    width: 385px;
    height: 200px;
    margin-left: 32px;
    margin-top: 100px;
    border-radius: 50px;
    background: linear-gradient(rgba(246,252,252,0.6) 0%, rgba(246,252,252,1) 80%);
    box-shadow: 5px 5px 15px 0px rgb(0, 0, 0, 0.25);
    
}

.idiomas h1{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    padding-top: 24px;
    margin-bottom: 32px;
}

.idiomas ul{
    display: inline-block;
}

.nome-idioma li{
    font-size: 28px;
    font-weight: 500;
    text-align: right;
    margin: 0 24px 20px 40px;
}

.nivel-idioma li{
    font-size: 22px;
    margin-bottom: 27px;
}
/*------ IDIOMAS E FOTO ------*/

/*------ CONHECIMENTOS ------*/
.conhecimentos{
    width: 1000px;
    height: 404px;
    margin: 200px auto 0;
    border-radius: 50px;
    background: linear-gradient(rgba(246,252,252,0.6) 0%, rgba(246,252,252,1) 80%);
    box-shadow: 5px 5px 15px 0px rgb(0, 0, 0, 0.25);
}

.conhecimentos h1{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    padding-top: 24px;
}

.conhecimentos h2{
    font-size: 28px;
    font-weight: 500;
    margin-top: 48px;
}

.conhecimentos img{
    width: 24px;
}

.conhecimentos hr{
    display: inline-block;
    width: 820px;
    margin-left: 32px;
}

.conhecimento1, .conhecimento2{
    margin-left: 54px;
}

.lista-conhecimento1, .lista-conhecimento2{
    margin-top: 8px;
}

.conhecimentos li{
    display: inline-block;
    font-size: 22px;
    line-height: 1.5;
    margin-left: 32px;
    width: 270px;
}

.conhecimentos li:before{
    content: "🗸";
}

/*------ CONHECIMENTOS ------*/

/*------ EXPERIÊNCIA ------*/
.experiencia{
    width: 896px;
    height: 692px;
    margin: 200px auto 0;
    border-radius: 50px;
    background: linear-gradient(rgba(246,252,252,0.6) 0%, rgba(246,252,252,1) 80%);
    box-shadow: 5px 5px 15px 0px rgb(0, 0, 0, 0.25);
}

.experiencia h1{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    padding-top: 24px;
}

.experiencia img{
    width: 147px;
    float: right;
    margin-top: 40px;
}

.experiencia h2{
    font-size: 28px;
    font-weight: 500;
    margin: 48px 0 8px 24px;
}

.experiencia a{
    text-decoration: none;
    color: #0C7675;
}

.experiencia a:hover{
    color: #F3890C;
    text-decoration: underline;
}

.experiencia p{
    display: inline;
    font-size: 14px;
    margin-left: 24px;
}

.data{
    margin-right: 295px;
}

.tarefas{
    margin-top: 40px;
}

.tarefas li{
    font-size: 18px;
    margin: 0 0 30px 24px;
}

.tarefas li::before{
    content: "🗸";
}
/*------ EXPERIÊNCIA  ------*/

/*------ VÍDEO  ------*/
.video{
    width: 1000px;
    margin: 200px auto 0;
}

.video h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 72px;
    font-weight: bold;
    padding-bottom: 24px;
}
/*------ VÍDEO  ------*/